*{
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #FBFBFB;
  font-family: "Orbit", sans-serif,"Josefin Sans";
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
#header{
  border-bottom: dotted 2px gray;
  height: 90px;
  padding-top: 20px;
}
.menu{
  text-align: right;
  margin-top: 20px;
  margin-right: 50px;
  float: right;
}
.menu a{
  margin: 10px;
  padding: 18px 50px 18px 80px;
  font-size: 20px;
  color: black;
  width: 250px;
  background-image: url(img/button1.png);
  background-repeat: no-repeat;
  border-radius: 50px;
  text-decoration: none;
}
.menu .select{
  margin: 10px;
  padding: 18px 50px 18px 80px;
  font-size: 20px;
  color: black;
  width: 250px;
  background-image: url(img/button2.png);
  background-repeat: no-repeat;
  border-radius: 50px;
  text-decoration: none;
}
.logo{
  display: inline-block;
}
.logo img{
  margin-left: 50px;
}



#content {
height: 2500px;
/* border: solid 1px red; */
}
#first-box-box {
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
}
#first-box{
display: inline-block;
border: none;
background-color: #DCE8C9;
border-radius: 50px;
width: 630px;
height: 700px;
text-align: center;
}
.check{
  display: inline-block;
}
.check h3 {
font-family: "Josefin Sans";
margin-top: 80px;
font-size: 38px;
}
.check h6 {
font-size: 15px;
font-weight: 500;
margin-top: 40px;
margin-bottom: 40px;
}
.check button {
  width: 400px;
  height: 70px;
  border-radius: 50px;
  border: none;
  margin: 15px;
  background-color: #919B83;
}
.check button:hover{
  background-color: #616857;
  /* box-shadow: 2px 2px 5px black; */
}
.check a {
  font-size: 25px;
  font-family: "Orbit";
  text-decoration: none;
  color: white;
}
.check a:hover{
  font-size: 28px;
}



#line {
  height: 50px;
  overflow: hidden;
}
#line img {
  overflow: hidden;
}



#first-box-img{
  position: relative;
  /* border: 1px solid black; */
  width: 800px;
  height: 700px;
  float: right;
}
#first-box-img .quack{
  position: absolute;
  right: 30px;
  top: 0;
}
#first-box-img .duckpng{
  position: absolute;
  margin-left: 50px;
  left: -30px;
  bottom: 0;
}
#natural-enemy {
  /* border: 1px solid red; */
  height: 440px;
  padding-top: 150px;
  padding-left: 200px;
  padding-right: 200px;
}
#natural-enemy h3 {
  font-family: "Josefin Sans";
  font-size: 38px;
}
.enemy {
  width: 250px;
  height: 240px;
  border-radius: 15%;
  margin-top: 50px;
  margin-right: 49px;
  float: left;
  overflow: hidden;
}
.enemy-image {
  width: 100%;
  height: auto;
}
.enemy-listing {
  position: relative;
}
.enemy-image {
  line-height: 0;
  overflow: hidden;
}
.enemy-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}
.enemy-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(80, 124, 76, 0.4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.enemy-listing:hover .enemy-title {
  opacity: 1;
}
.enemy-listing:hover .enemy-image img {
  filter: blur(2px);
}



#content1 {
  /* border: solid 1px orange; */
  padding-top: 150px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 200px;
}
#content1 h3 {
  font-family: "Josefin Sans";
  margin-bottom: 10px;
  font-size: 38px;
}
#content1 p {
  font-size: 20px;
  margin-bottom: 20px;
}
.content1-text {
  display: inline-block;
}
table, th, td {
  border: solid 1px gray;
}
table {
  text-align: center;
  width: 1500px;
  height: 600px;
  border-collapse: collapse;
}
table ul {
  list-style-type: none;
}
th {
  background-color: #919B83;
  font-weight: 700;
  font-size: 17px;
}
.title {
  background-color: #bdc5b1;
}

#characteristic {
  /* border: 1px solid blue; */
  height: 800px;
  max-width: auto;
  padding: 100px 150px;
  text-align: center;
  padding-left: 150px;
}
#characteristic h3 {
  font-family: "Josefin Sans";
  font-size: 38px;
  width: 300px;
}
.characteristic-box-box {
  margin-top: 50px;
  padding-left: 50px;
}
.characteristic-box {
  position: relative;
  background-color: #E1E1E1;
  width: 1500px;
  height: 140px;
  border-radius: 60px;
  margin-bottom: 10px;
}
.characteristic-box .box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.characteristic-box p{
  font-weight: 700;
  opacity: 1;
  width: 1500px;
  height: 140px;
  transition: opacity 0.3s ease;
  transition-duration: 300ms;
}
.characteristic-box:hover .box-text {
  opacity: 1;
}
.characteristic-box:hover {
  background-color: #DBE9C7;
  height: 200px;
  transition-duration: 300ms;

}

.fixed{
  position: fixed;
  background-image: url(img/fixed.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  right: 0;
  bottom: 0;
}



#footer{
  /* border: solid 1px black; */
  height: 640px;
  background-image: url(img/footer-background.png);
  background-repeat: no-repeat;
}
.footer1{
  border-right: solid 1px black;
  display: inline-block;
  padding-left: 220px;
  margin-top: 300px;
  width: 402px;
  height: 200px;
  padding-top: 15px;
}
.footer2{
  /* border: solid 1px black; */
  display: inline-block;
  padding-left: 117px;
  width: 540px;
}
.footer3{
  border-left: solid 1px black;
  display: inline-block;
  text-align: right;
  padding-right: 140px;
  width: 440px;
  height: 220px;
}
.footer3 .info {
  font-size: 15px;
}
#footer a{
  color: rgb(0, 87, 0);
  text-decoration: none;
  font-weight: 700;
  font-size: 28px;
}

#footer a:hover{
  color: rgb(255, 255, 255);
}
#footer p {
  font-size: 20px;
}
#footer img {
  padding-left: 100px;
  padding-bottom: 20px;
}
#email {
  width: 400px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
}
#password {
  width: 290px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
}
#password-button {
  width: 105px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #919B83;
  color: white;
  border: none;
}
#password-button:hover {
  background-color: black;
}
#password-button:active {
  background-color: green;
}