body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #000;
  color: white;
  font-family: 'SUIT', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#main_menu {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  height: 50px;
  border: solid 1px white;
  background-color: black;
  border-radius: 80px;
  margin: 0 auto 0 auto;
  z-index: 9999;
}
#main_menu li {
  display: inline;
  float: right;
  margin-left: 16px;
  margin-right: 28px;
}
#main_menu li a {
  display: block;
  text-decoration: none;
  font-size: 15px;
  padding-top: 15px;
  color: white;
}
#main_menu li a:hover {
  color: #3ECFB7;
}
#main_menu img {
  margin-top: 9px;
  width: 100px;
}


#content {
  width: 1400px;
  margin: 0 auto 0 auto;
  text-align: center;
}
#content h2 {
  font-size: 30px;
  margin: 130px auto 50px auto;
  font-weight: 800;
}
#timeline {
  border: solid 1px white;
  height: 570px;
  width: 72vw;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;
}
#album {
  width: 72vw;
  margin: 0 auto;
}
#album:last-child {
  margin-bottom: 100px;
}
#album .album{
  width: 15vw;
  height: 15vw;
  display: inline-block;
  margin-top: 80px;
}
#album .album {
  margin-right: 3.5vw;
}
#album .album:last-child {
  margin-right: 0;
}
#album .album img{
  width: 100%;
  height: 100%;
}

#album .album {
  position: relative; 
}

#album .album span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 12px;
  text-align: center;
}

#album .album:hover span {
  opacity: 1;
}


#timeline::-webkit-scrollbar {
  width: 15px;
}
#timeline::-webkit-scrollbar-track {
  background: gray;
}
#timeline::-webkit-scrollbar-thumb {
  background: white;
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 8px;
  
}


.fixed{
  position: fixed;
  background-image: url(img/top.png);
  background-repeat: no-repeat;
  width: 150px;
  height: 100px;
  right: 0;
  bottom: 0;
}




footer {
  text-align: center;
  border-top: 1px solid rgb(131, 131, 131);
  justify-content: center;
  margin-bottom: 5px;
}
footer img {
  margin-top: 20px;
}
footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
footer ul li {
  margin: 0 20px;
  font-size: 15px;
}
footer ul li a{
  color: white;
  text-decoration: none;
}
footer ul li a:hover{
  color: #3ECFB7;
}
footer p {
  font-size: 10px;
  padding-bottom: 10px;
}
