body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #000;
  color: white;
  font-family: 'SUIT', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#main_menu {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  height: 50px;
  border: solid 1px white;
  background-color: black;
  border-radius: 80px;
  margin: 0 auto 0 auto;
  z-index: 9999;
}
#main_menu li {
  display: inline;
  float: right;
  margin-left: 16px;
  margin-right: 28px;
}
#main_menu li a {
  display: block;
  text-decoration: none;
  font-size: 15px;
  padding-top: 15px;
  color: white;
}
#main_menu li a:hover {
  color: #3ECFB7;
}
#main_menu img {
  margin-top: 9px;
  width: 100px;
}



#content {
  width: 1400px;
  height: 660px;
  margin: 0 auto 0 auto;
}
#content h2 {
  font-size: 30px;
  margin: 130px auto 50px auto;
  font-weight: 800;
  text-align: center;
}

.dfd {
  margin: 0 auto;
}
#content .content1 {
  width: 22vw;
  height: 544px;  float: left;
}
#content .content1 ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-top: 100px;
}
#content .content1 li {
  border-bottom: solid 1px rgb(131, 131, 131);
  padding-bottom: 20px;
  margin-bottom: 15px;
}
#content .content1 .num {
  font-size: 16px;
  float: left;
  margin-top: 23px;
  margin-right: 20px;
  font-weight: 900;
}
#content .content1 img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  float: left;
  margin-right: 20px;
}
#content .content1 .text {
  font-size: 18px;
  padding-top: 10px;
  font-weight: 500;
}
#content .content1 .text:hover{
  font-weight: 800;
}
#content .content1 span {
  font-size: 12px;
}
#content .content1 .time {
  font-size: 12px;
  float: right;
  margin-top: -25px;
}
#content .content1 a {
  text-decoration: none;
  color: white;
}


#content .content2 {
  width: 465px;
  height: 544px;
  float: left;
  margin-left: 40px;
}

#content .content2 img {
  width: 465px;
  height: 465px;
  transition: transform 0.5s linear;
}

audio {
  margin-top: 10px;
  width: 465px;
}

.rotating {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#content .content3 {
  width: 22vw;
  height: 544px;
  margin-left: 40px;
  float: left;
  text-align: left;
}
#content .content3 h3{
  font-size: 22px;
  padding: 0px;
  margin: 0 auto;
  margin-top: 90px;
  font-weight: bold;
}
#content .content3 span {
  font-size: 15px;
}
#content .content3 .lyrics {
  width: 22vw;
  height: 300px;
  margin-top: 10px;
  border: solid 1px rgb(131, 131, 131);
  overflow-x: hidden;
  overflow-y: scroll;
}
#content .content3 .lyrics p {
  font-size: 12px;
  letter-spacing: 1px;
  word-spacing : 1px;
  padding-left: 5px;
}




.lyrics::-webkit-scrollbar {
  width: 15px;
}
.lyrics::-webkit-scrollbar-track {
  background: gray;
}
.lyrics::-webkit-scrollbar-thumb {
  background: white;
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 8px;
  
}







footer {
  text-align: center;
  border-top: 1px solid rgb(131, 131, 131);
  justify-content: center;
  margin-bottom: 5px;
}
footer img {
  margin-top: 20px;
}
footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
footer ul li {
  margin: 0 20px;
  font-size: 15px;
}
footer ul li a{
  color: white;
  text-decoration: none;
}
footer ul li a:hover{
  color: #3ECFB7;
}
footer p {
  font-size: 10px;
  padding-bottom: 10px;
}
