body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url(img/sky_bg.png);
  font-family: "Pixelify Sans", sans-serif;
}
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1310px;
}
.text p {
margin: 0;
font-size: 50px;
display: inline-block;
margin-left: 515px;
color: white;
}
.text img {
float: right;
margin-left: 5px;
margin-top: 15px;
}
#item-count {
  margin-left: 12px;
  margin-top: 20px;
  font-size: 30px;
  float: left;
}
#item-count::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url('img/item3.png'); 
    background-size: contain;
    background-position: center;
    margin-left: 12px;
}

.frame {
  --block-size: 60px;
  height: calc(22 * var(--block-size));
  width: calc(11* var(--block-size));
  grid-template-rows: var(--block-size) calc(11 * var(--block-size)) var(--block-size);
}

.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(11 * var(--block-size));
  width: calc(22 * var(--block-size));
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(22, var(--block-size));
  grid-template-rows: repeat(11, var(--block-size))
}

.block {
  width: var(--block-size);
  height: var(--block-size);
  border-radius: 8px;
}


.wall {
  background-image: url(img/sky.png);
  background-size: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.exit {
  background-color: red;
  background-size: 50px 35px;
  background-position: center center;
  background-color: #cbdbfc;
  opacity: 0.3;
}

.exit.show {
  opacity: 1;
}

.player {
  background: url('img/duck1.png');
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px 50px;
  z-index: 2;

}


.item {
  margin-top: 10px;
  margin-left: 10px;
  width: 40PX;
  height: 40PX; 

  background-size: contain; 
  position: absolute;
  z-index: 1;
}


#no {
  position: absolute;
  right: 425px;
  bottom: 110px;
  font-family: 'DungGeunMo';
  font-size: 12px;
  color: white;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  animation: blackout 1.5s ease forwards;
  z-index: 9999; 
  pointer-events: none;

}
@keyframes blackout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}