body {
  margin: 0;
  padding: 0;
  background-image: url(img/stone_bg.png);
  overflow: hidden;
  font-family: "Pixelify Sans", sans-serif;
}

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1280px;
}
.text p {
  margin: 0;
  font-size: 50px;
  display: inline-block;
  margin-left: 500px;
}
.text img {
  float: right;
  margin-left: 5px;
  margin-top: 15px;
}
#item-count {
  margin-left: 12px;
  margin-top: 20px;
  font-size: 30px;
  float: left;
}
#item-count::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 22px;
    background-image: url('img/item2.png');
    background-size: contain;
    background-position: center;
    margin-left: 12px;
}
.frame {
  --block-size: 80px;
  height: calc(16 * var(--block-size));
  width: calc(8* var(--block-size));
  grid-template-rows: var(--block-size) calc(8 * var(--block-size)) var(--block-size);
}

.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(8 * var(--block-size));
  width: calc(16 * var(--block-size));
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(16, var(--block-size));
  grid-template-rows: repeat(8, var(--block-size))
}

.block {
  width: var(--block-size);
  height: var(--block-size);
  border-radius: 8px;
}


.wall {
  background-image: url(img/stone.png);
  background-size: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.exit {
  background-color: red;
  background-size: 50px 35px;
  background-position: center center;
  background-color: #cbdbfc;
  opacity: 0.3;
}

.exit.show {
  opacity: 1;
}

.player {
  background: url('img/duck1.png');
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70px 70px;
  z-index: 2; 

}


.item {
  margin-top: 15px;
  margin-left: 5px;
  width: 68PX;
  height: 50PX; 
  background-size: contain; 
  position: absolute;
  z-index: 1;
}
.item img {
  background-repeat: no-repeat;
}

.item.eaten {
  opacity: 0;
}

#message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-image: url(img/88.png);
}

#q {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  font-family: 'DungGeunMo';
}

#q-container {
  position: relative;
  display: inline-block;
}

#q-container img {
  display: block;
}

#q span {
  position: absolute;
  padding-left: 200px;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 18px;
  line-height: 2;
}

#q {
  opacity: 1;
  transition: opacity 1s ease;
}

#q.hide {
  opacity: 0;
}


#q-container span {
  white-space: pre-wrap;
}

#q #d {
  position: fixed;
  bottom: 60px;
  right: 50px;
  animation: blink 1.5s infinite;
}
@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

#no {
  position: absolute;
  right: 425px;
  bottom: 110px;
  font-family: 'DungGeunMo';
  font-size: 12px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  animation: blackout 1.5s ease forwards;
  z-index: 9999;
  pointer-events: none;

}
@keyframes blackout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}